<h1 class="title-home">Proyecto Ecommerce CoderHouse</h1>

 <div class="btnPerfil">
    {{#if user.firstName}}
     <p class=""  ><a class="btn" href="/auth/perfil"> Hola {{user.firstName}} </a> <a class="logout" href="/auth/logout">Cerrar sesion</a> </p>
    {{else}}
    <p class=""  >
        <a class="btn" href="/auth/login"> Iniciar Sesion </a> 
    </p>
    {{/if}}
    <a class="btn" href="/products"> Inicio</a> 
    {{#if vfyUoA}}
        <a class="btn" href="/creatProduct"> Crear Productos</a> 
        <a class="btn" href="/myProducts"> Ver Mis Products</a> 
    {{/if}}
    {{#if vfyAdmin}}
            <a class="btn" href="/users"> Users</a> 

    {{/if}}
    <a href="" onclick='viewCart("{{user.cart}}") '  id="view-cart"><i class="bi bi-cart"></i>
    <span id="carritoCantidad"></span>
    </a>
 </div>
<section class="">
   
    <div class="secc-users">
        <div class="list-users">
        <ul class="list-users">   
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Fecha</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
{{#each Orderfound}}
    <tr>
      <th scope="row">{{this.purchaser}}</th>
        <td>{{this.purchase_datetime}}</td>
        <td>{{this.amount}}</td>
    </tr>
{{/each}} 
  </tbody>
  <tbody>


  </tbody>
</table>
</section>