<style>
  button#premiumButton {
    margin-bottom: 20px;
}
a#delet-user {
    padding: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
ul.list-users {
    display: block;
}
 .td-download {
    display: inline-grid;
}   
td#actualizar-premium {
    display: revert;
   
}
td {
    font-family: 'Poppins';
}
</style>

<h1 class="title-home">Proyecto Ecommerce CoderHouse</h1>

 <div class="btnPerfil">
    {{#if user.firstName}}
     <p class=""  ><a class="btn" href="/auth/perfil"> Hola {{user.firstName}} </a> <a class="logout" href="/auth/logout">Cerrar sesion</a> </p>
    {{else}}
    <p class=""  >
        <a class="btn" href="/auth/login"> Iniciar Sesion </a> 
    </p>
    {{/if}}
    <a class="btn" href="/products"> Inicio</a> 
    {{#if vfyUoA}}
        <a class="btn" href="/creatProduct"> Crear Productos</a> 
        <a class="btn" href="/myProducts"> Ver Mis Products</a> 
    {{/if}}
    {{#if vfyAdmin}}
            <a class="btn" href="/users"> Users</a> 

    {{/if}}
    <a href="" onclick='viewCart("{{user.cart}}") '  id="view-cart"><i class="bi bi-cart"></i>
    <span id="carritoCantidad"></span>
    </a>
 </div>
<section class="">
    <div class="filters-users">
        <h3 class="title-filter">Filtros</h3>
        <ul class="list-filter-users">
            <li class="checks">
                <a href="/users?page=1&status=processing">
                Procesando</a>
            </li>
            <li class="checks">
                <a href="/users?role=admin">
                Admins</a>
            </li>
            <li  class="checks">
                <a href="/users?role=user">
                Users   </a>
            </li>
            <li  class="checks">
                <a href="users?lastTwo=true">
                Coneccion ultima mas de 10 min   </a>
            </li>
            <li class="checks">
                <a href="/users?page=1&status=checked">
                Premium</a> 
            </li>
            <li class="checks">
                <a href="/users?page=1">
                Todos los Usuarios</a> 
            </li> 
    </ul>
    </div>
    <div class="secc-users">
        <div class="list-users">
        <ul class="list-users">   
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Documents</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
{{#each users}}
    <tr>
      <th scope="row">{{this.firstName}}</th>
      <td>{{this.lastName}}</td>
      <td>{{this.email}}</td>
      <td id="role">{{this.role}}</td>
      <td id="status">{{this.status}}</td>
        <td >
        <div class="td-download">

        {{#if this.documents.dniFile}}
        <a href='/documents/{{this.documents.dniFile}}' download='{{documents.dniFile}} ' class="btn btn-primary">Download Dni</a>
        {{/if}}
        {{#if this.documents.domicilioFile}}
        <a href='/documents/{{this.documents.domicilioFile}}' download='{{documents.domicilioFile}} ' class="btn btn-primary">Download Domicilio</a>
        {{/if}}
        {{#if this.documents.cuentaFile}}
        <a href='/documents/{{this.documents.cuentaFile}}' download='{{documents.cuentaFile}} ' class="btn btn-primary">Download Cuenta</a>
        {{/if}}        
        </div>
    </td>
      <td id="actualizar-premium">     {{#if this.documents.dniFile}}
        <button id="premiumButton" data-uid="{{this.id}}" class="btn btn-primary">Actualizar a Premium</button>
        {{/if}}
        
           <a data-id="{{this.id}}" onclick="deleteUser('{{this.id}}')" id="delet-user" class="delet-user"><i class="bi bi-trash"></i>Delete User</a>
      </td>

  
    </tr>
{{/each}} 

  </tbody>
</table>

        </div>
        <div class="pagination"> 
            {{#if pagination.hasPrevPage}}
                <a href="{{pagination.prevLink}}">
                ⇚ {{pagination.prevPage}}
                </a>
            {{/if}}
            {{pagination.page}}  

            {{#if pagination.hasNextPage}}
                <a href="{{pagination.nextLink}}"> 
                    {{pagination.nextPage}}⇛
                </a>
            {{/if}}
    </div>
    </div>
</section>
<a  href="#" id="delet-many">Eliminar Usuarios con viejas conecciones</a>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const premiumButton = document.getElementById('premiumButton');

    premiumButton.addEventListener('click', async function () {
      const userId = premiumButton.getAttribute('data-uid');

      try {
        let myHeaders = new Headers();
            myHeaders.append("Cookie", "connect.sid=s%3ANF0aIAq6WiZ6JnI4x8g3bB8lOZHNWly0.OIoJao4Wxy5SIliF1WdyE1KKGs2JMebtX3nZHystKQc");

        let requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            redirect: 'follow'
            };

        let response = await fetch(`/api/users/premium/${userId}`, requestOptions)
        if (response.ok) {
  try {
    const data = await response.json(); // Parsea la respuesta JSON
    window.location.reload();
  } catch (error) {
    console.error('Error al parsear la respuesta JSON', error);
  }
} else {
  // Si la solicitud no fue exitosa (código de respuesta diferente de 200)
  console.error('Hubo un error en la solicitud', response.status, response.statusText);
}
      } catch (error) {
        console.error(error);
        alert('Hubo un error al realizar la solicitud.');
      }
    });
  });
// Obtén todos los elementos <td> con id "status"
var statusElements = document.querySelectorAll('td#status');
var premiumElements = document.querySelectorAll('td#actualizar-premium');
var roleElements = document.querySelectorAll('td#role');
// Itera a través de los elementos y aplica el estilo si el valor es "checked"
statusElements.forEach(function (statusElement, index) {
  var statusValue = statusElement.textContent;
  var premiumButton = premiumElements[index].querySelector('#premiumButton');
  if (statusValue === 'checked') {
    roleElements[index].style.backgroundColor = '#efb810';
        premiumButton.disabled = true;
          premiumButton.textContent = 'Es Premium';
    premiumButton.style.backgroundColor = '#efb810';
    statusElement.style.backgroundColor = 'green';

  }
  if (statusValue === 'processing') {
    roleElements[index].style.backgroundColor = '#fffb21';
    premiumButton.style.backgroundColor = '#fffb21';
    statusElement.style.backgroundColor = 'yellow';

  }
});

async function deleteUser(userId) {
  try {
    const response = await fetch(`http://localhost:8080/api/users/${userId}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
        // Puedes agregar encabezados adicionales aquí si es necesario
      },
      // Puedes incluir un cuerpo (body) si es necesario para la eliminación
      // body: JSON.stringify({}),
    });

    if (response.ok) {
      // La solicitud fue exitosa y el usuario se eliminó
      alert('Usuario eliminado con éxito');
      window.location.reload();
      // Aquí puedes realizar acciones adicionales, como actualizar la interfaz de usuario
    } else {
      // La solicitud no fue exitosa, maneja el error aquí
      console.error('Error al eliminar usuario');
    }
  } catch (error) {
    // Maneja cualquier error de red aquí
    console.error('Error de red:', error);
  }
}

document.addEventListener("DOMContentLoaded", () => {
  const deleteManyLink = document.getElementById("delete-many");

  deleteManyLink.addEventListener("click", async (e) => {
    e.preventDefault(); // Evita que el enlace siga su href por defecto

    try {
      const response = await fetch("/oldconection", {
        method: "DELETE",
      });

      if (response.status === 200) {
        console.log("Usuarios con conexiones antiguas eliminados con éxito.");
        // Puedes realizar alguna acción adicional después de la eliminación.
      } else {
        console.error("Error al eliminar usuarios con conexiones antiguas.");
      }
    } catch (error) {
      console.error("Error de red:", error);
    }
  });
});



</script>